name: CI

on:
    push:
      branches:
      - main
    pull_request:
      branches:
      - main
    workflow_dispatch:

jobs:
  build:

    env:
      BUILD_CONFIG: 'Release'
      SOLUTION: 'DocxTemplater.sln'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4 #Fetch all history for all tags and branches
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          10.x.x
          9.x.x
          8.x.x

    - name: Restore
      run: dotnet restore $SOLUTION

    - name: Build
      run: dotnet build $SOLUTION --configuration $BUILD_CONFIG --no-restore

    - name: Run tests
      run: dotnet test -c $BUILD_CONFIG --no-restore --no-build --verbosity normal